.Formauthen_modal {
    /* padding: 1rem 5rem; */
    background-color: #f1f2f6;
    padding: 0;
    height: auto;
    overflow: auto;
}

.Formauthen_modal-header {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
    font-size: 15px;
    padding: 1.5rem 1rem;
    font-weight: 700;
    color: #666;
    border-radius: 4px;
}
.Formauthen_modal-header-register{
    flex: 1;
    margin-left: 1rem;
}