.ListRecruitCPN_listJob{
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 1rem;
}
.ListRecruitCPN_listJob-item{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background: #fff 0 0 no-repeat padding-box;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    padding: 16px;
}
.ListRecruitCPN_listJob-item-avatar img{
    border-radius: 5px;
    height: auto;
    width: 48px;
}
.ListRecruitCPN_listJob-item-title{
    line-height: 1.5rem;
}
.ListRecruitCPN_listJob-nameJob{
    font-size: 18px;
}
.ListRecruitCPN_listJob-CPN{
    font-size: 14px;
    color: #555;
    text-decoration: none;
    text-transform: uppercase;
}
.ListRecruitCPN_listJob-grouplable label{
    background: #edeef0 0 0 no-repeat padding-box;
    border-radius: 3px;
    color: #636d78;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 8px;
    margin-right: 1rem;
}
.listJob-grouplable-timeRemening{
    line-height: 2.5rem;
}
.listJob-grouplable-timeRemening-btn{
    flex: 1;
    float: right;
}
.listJob-grouplable-timeRemening p{
    font-size: 14px;
}
.listJob-grouplable-timeRemening span{
    font-size: 16px;
    font-weight: 600;
}